@import url(./fonts.css);
:root {
    --b-c--bgrd: #FBFBFC;
    --b-c--grey: #d0cdce;
    --b-c--dgrey: #505050;
    --b-c--dark: #0F0F0F;
    --b-c--orange: #DC601A;
    --bg--d-dg: linear-gradient(to right, var(--b-c--dark), var(--b-c--dgrey));
    --fs--ttl-main: 42px;
    --fs--txt-main: 16px;
    --fs--ttl-sub: 20px;
}
@media (min-with:726px) {
    :root {
        --fs--ttl-main: 48px;
        --fs--txt-main: 16px;
        --fs--ttl-sub: 24px;
    }
}
@keyframes rotate{
    0%{
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50%{
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100%{
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.Row, .Col {
    display: flex;
    flex-direction: column;
}
.gradient-bgrd {
    background: var(--b-c--dark);
}
.link-dark {
    display: inline-block;
    margin-bottom: 15px;
    color: var(--b-c--dark);
}
.link-dark:hover {
    color: var(--b-c--orange);
}
.bth-orange, .bth-white, .btn-dark {
    padding: 12px 60px;
    max-width: min-content;
    margin: auto;
}
/* .bth-orange, .btn-white, .btn-dark {
    transition: all .3s;
} */
.bth-orange {
    color: var(--b-c--orange);
    border: 1px solid var(--b-c--orange);
}
.bth-white {
    color: var(--b-c--bgrd);
    border: 1px solid var(--b-c--bgrd);
}
.btn-dark {
    color: var(--b-c--dark);
    border: 1px solid var(--b-c--dark);
}
.bth-orange:hover {
    color: var(--b-c--bgrd);
    background-color: var(--b-c--orange);
}
.btn-white:hover {
    color: var(--b-c--orange);
    background-color: var(--b-c--bgrd);
}
.btn-dark {
    color: var(--b-c--bgrd);
    background-color: var(--b-c--dark);
}
.ttl {
    font-family: 'Oranienbaum';
    font-size: var(--fs--ttl-main);
    color: var(--b-c--dark);
}
.ttl_sub-orange {
    color: var(--b-c--orange);
    font-family: 'Raleway';
    font-weight: 500;
    font-size: var(--fs--ttl-sub);
    display: inline-block;
    margin: 2rem auto 2rem 0;
}
.news_img {
    max-height: 375px;
    object-fit: cover;
}
.news_date {
    margin: auto 0 auto auto;
}
.news_ttl {
    display: inline-block;
    margin-top: 1em;
    font-size: var(--fs--ttl-sub);
    color: var(--b-c--orange);
}
.hero_info {
    margin-top: 3em;
}
.hero_ttl {
    font-family: 'Oranienbaum';
    font-size: var(--fs--ttl-main);
    line-height: 108%;
    color: var(--b-c--orange);
}
.hero .container {
    position: relative;
}
.hero_phone {
    font-size: var(--fs--ttl-sub);
    color: var(--b-c--dark);
}
.hero_phone:hover {
    color: var(--b-c--orange);
}
.devise {
    font-family: 'Oranienbaum';
    font-size: 28px;
    line-height: 102%;
    display: inline-block;
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: var(--b-c--orange);
}
body {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--b-c--bgrd);
}
body, a, p, span {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: var(--fs--txt-main);
}
header {
    z-index: 999;
    width: 100%;
    position: absolute;
    top: 0;
}
footer {
    background-color: var(--b-c--dark);
}
.footer_contacts {
    margin-top: 3rem;
}
.footer_contacts * {
    color: var(--b-c--bgrd);
}
.footer_social ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.footer_social ul li {
    /* display: ; */
}
#actions {
    position: relative;
    background-image: url(../img/content/actions.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--b-c--bgrd);
    padding: 40px;
    z-index: 3;
}
#actions .col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#actions .col * {
    position: relative;
    display: block;
}
.accordeon_pic {
    display: flex;
    position: relative;
    width: 100%;
} 
.accordeon_img {
    margin: auto 0 auto auto;
    z-index: 2;
}
details {
    z-index: 2;
}
summary {
    font-weight: 500;
    font-size: var(--fs--ttl-sub);
    list-style-image: url(../img/plus.svg);
    transition: all .7s;
    z-index: 2;
}
details[open] > summary {
    list-style-image: url(../img/minus.svg);
    z-index: 2;
}
details[open] > p {
    margin: 20px auto 20px 2rem;
    padding-left: 1rem;
    border-left: 1px solid orange;
    z-index: 2;
}
.kt-deco::before {
    z-index: 1;
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/deco.png);
    background-size: cover;
    position: absolute;
    animation: rotate 10s linear infinite;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.accordeon_pic.kt-deco::before {
    top: -25%;
    left: 13%;
    background-size: 68%;
}
.directions_container, .dir_art-pic img, .dir_air-pic img, .dir_art-pic, .dir_air-pic {
    position: relative;
}
.dir_art-pic img, .dir_air-pic img {
    z-index: 2;
}
.dir_art-pic.kt-deco::before {
    background-size: 70%;
    right: -5%;
    top: -25%;
}
.dir_air-pic.kt-deco::before {
    left: -13%;
    top: 14%;
    background-size: 68%;
}
.dir_art-info p, .dir_air-info p {
    width: 100%;
}
.hero_info p, .hero_info a, .dir_art-info a, .dir_air-info a, .dir_art-info p, .dir_air-info p {
    display: inline-block;
    margin: 1rem auto 1rem 0;
}
.vacancy_info {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    padding-right: 2em;
}
.vacancy_ttl, .sbory_ttl {
    color: var(--b-c--orange);
}
.vacancy_txt, .vacancy_txt a, .sbory_info p {
    color: var(--b-c--bgrd);
    max-width: 454px;
}
.vacancy_txt a {
    text-decoration: underline;
}
.sbory_pic {
    position: relative;
}
.sbory_img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -1000px;
    object-fit: cover;
}
.trainers_section-navbar {
    display: none;
}
.news_section>.Row {
    justify-content: space-between;
}
.news_link {
    color: var(--b-c--orange);
}
.news_link:hover {
    color: var(--b-c--grey);
}
.news_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.gallery_grid-masonry {
    display: flex;
    flex-direction: column;
}
.news .container {
    display: flex;
    flex-direction: column;
}
.index_link-top, .index_link-bottom {
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: var(--b-c--orange);
    font-size: var(--fs--ttl-sub);
}
.index_link-bottom {
    width: 100%;
    text-align: center;
}
.ttl-orange {
    color: var(--b-c--orange);
}
.ttl-news {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.news span {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 3rem;
}
.training_txt-info {
    max-width: 893px;
    margin: auto;
    text-align: center;
    margin-bottom: 5rem;
}
tr:nth-child(1) {
    background-color: var(--b-c--grey);
}
td {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--b-c--dark);
}
table, tbody {
    margin-bottom: 3rem;
}
.training .col:nth-child(2) {
    padding: 3em 0;
} 
.training .col {
    position: relative;
    display: flex;
    flex-direction: column;
}
.training .col img {
    max-width: 320px;
    max-height: 320px;
    margin: auto;
    z-index: 2;
}
.raspisanie_container {
    overflow-x: scroll;
}
.raspisaniye_deco-1::before {
    top: 2%;
}
.raspisaniye_deco-2::before {
    top: -21%;
    left: -8%;
}
.raspisaniye_deco-3::before {
    top: -4%;
    left: 3%;
}
.promo {
    background-color: var(--b-c--grey);
    border-bottom: 5px solid var(--b-c--orange);
}
.promo .container {
    display: flex;
    /* background-image: url(../img//content/promo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right; */
}
.promo h1 {
    display: inline-block;
    margin: auto;
    /* border: 2px solid var(--b-c--orange); */
    /* width: 100%; */
}
.promo-info {
    display: flex;
    flex-direction: column;
    gap: 5em;
}
.promo-info .container {
    display: flex;
    flex-direction: column;
}
.promo-contacts {
    text-align: center;
}
.promo-contacts a{
    color: var(--b-c--orange);
}
.promo-info .ttl {
    color: var(--b-c--orange);
    display: inline-block;
    margin-bottom: 3rem;
}
.promo-info h3 {
    display: inline-block;
    margin-bottom: 2rem;
}
.promo-info_img {
    position: relative;
    /* top: -10em; */
}
.sale-deco {
    position: relative;
}
.sale-deco::after {
    content: ' ';
    width: 147px;
    height: 86px;
    background-image: url("data:image/svg+xml,%3Csvg width='147' height='89' viewBox='0 0 147 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M127.905 87.0131L21.6116 58.5319C20.5445 58.246 19.6022 57.6148 18.9318 56.7368L5.73281 39.4516C4.79192 38.2194 4.47583 36.6205 4.87708 35.123L9.3939 18.2661C9.79515 16.7686 10.8683 15.5419 12.2993 14.9453L32.3725 6.57535C33.3921 6.1502 34.5238 6.0747 35.5908 6.36061L141.884 34.8418C144.551 35.5565 146.134 38.2982 145.42 40.9655L134.029 83.4776C133.314 86.1449 130.572 87.7278 127.905 87.0131ZM20.1065 38.2132C24.2436 39.3217 28.4547 37.0206 29.5123 33.0736C30.5699 29.1266 28.0735 25.0282 23.9364 23.9197C19.7993 22.8111 15.5882 25.1122 14.5306 29.0592C13.4729 33.0063 15.9694 37.1046 20.1065 38.2132Z' fill='url(%23paint0_linear_934_474)'/%3E%3Cpath d='M55.8602 30.8121L57.622 31.2842L59.9346 49.5449L57.7091 48.9486L57.0538 43.6049L50.1455 41.7539L46.9294 46.0602L44.7039 45.4639L55.8602 30.8121ZM57.025 41.858L56.0951 33.4591L50.9976 40.2429L57.025 41.858ZM61.7836 50.0404L65.0261 37.9393L67.0661 38.4859L65.7306 43.4701L67.0752 43.8303L72.2125 39.8649L74.5308 40.486L68.4387 45.1399L71.8215 52.73L69.4569 52.0964L66.572 45.7081L65.2274 45.3478L63.8236 50.587L61.7836 50.0404ZM82.5919 58.6721L83.3559 55.8207L73.8048 53.2615L77.0473 41.1603L79.0873 41.707L76.3232 52.023L81.9333 53.5263L84.6974 43.2102L86.7375 43.7568L83.9733 54.0729L85.6424 54.5201L84.4001 59.1566L82.5919 58.6721ZM87.4108 56.9072L90.6471 44.8292L92.6871 45.3759L90.1838 54.7183L99.4625 47.1665L101.317 47.6634L98.0746 59.7645L96.0346 59.2179L98.4882 50.0609L89.3581 57.4289L87.4108 56.9072ZM100.43 60.3957L105.166 56.4467C104.419 56.081 103.885 55.5403 103.563 54.8246C103.245 54.0935 103.221 53.2257 103.49 52.2211C103.685 51.4948 104.027 50.8989 104.516 50.4337C105.005 49.9684 105.594 49.6542 106.284 49.4912C106.989 49.3323 107.751 49.3626 108.57 49.582L113.531 50.9113L110.283 63.0356L108.243 62.489L109.46 57.9453L107.095 57.3117L102.679 60.9982L100.43 60.3957ZM107.082 55.6931L109.864 56.4385L111.063 51.9643L108.513 51.281C107.786 51.0864 107.151 51.1397 106.606 51.4411C106.066 51.7269 105.711 52.1867 105.541 52.8203C105.371 53.454 105.404 54.0425 105.639 54.586C105.89 55.1335 106.371 55.5026 107.082 55.6931Z' fill='%23FBFBFC'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_934_474' x1='80.4195' y1='18.3724' x2='66.4402' y2='70.5437' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.166667' stop-color='%23F56716'/%3E%3Cstop offset='0.901042' stop-color='%23EF4F1D'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 35%;
    right: -1%;
}
@media (min-width:768px) {
    .Row {
        flex-direction: row;
    }
    .gradient-bgrd {
        background: rgb(15,15,15);
        background: -moz-linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(15,15,15,1) 50%, rgba(208,205,206,1) 60%, rgba(208,205,206,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(15,15,15,1) 50%, rgba(208,205,206,1) 60%, rgba(208,205,206,1) 100%);
        background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(15,15,15,1) 50%, rgba(208,205,206,1) 60%, rgba(208,205,206,1) 100%);
    }
    .hero_info {
        max-width: 526px;
        margin-top: 5em;
    }
    .hero_info-adress {
        text-align: right;
        position: absolute;
        top: 1.5rem;
        right: 0;
    }
    .accordeon_info {
        max-width: 50%;
        min-width: 50%;
    }
    .accordeon_pic.kt-deco::before {
        top: -39%;
    }
    .dir_art-info { 
        order: 2;
    }
    .dir_art-pic {
        order: 1;
    }
    .dir_air-pic {
        top: -8rem;
    }
    .dir_art-info, .dir_air-info {
        max-width: 50%;
    }
    details[open] > p {
        margin: 20px auto 20px 4rem;
    }
    .gallery_grid-item {
        /* max-width: 33.3333333333333%; */
    }
    .gallery_grid-masonry {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
        
    .gallery_grid-item:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
    .gallery_grid-item:nth-child(2) { grid-area: 1 / 2 / 3 / 3; }
    .gallery_grid-item:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
    .gallery_grid-item:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
    .gallery_grid-item:nth-child(5) { grid-area: 2 / 3 / 3 / 4; }
.trainers_slider-container {
    min-height: 470px;
    margin-top: 40px;
}
.trainer_section-content {
    max-width: 80%;
}
.trainer_section-info {
    padding-right: 1em;
    height: min-content;
    margin: auto;
    max-width: 50%;
}
.trainer_section-heading {
    position: relative;
    width: 100%;
    z-index: 10;
    background-color: var(--b-c--background);
}
.trainer_section-ttl {
    font-weight: 500;
    font-size: var(--fs--ttl-sub);
    line-height: 30px;
    color: var(--b-c--orange);
    margin-bottom: 24px;
}
.trainers_section-navbar {
    position: absolute;
    top: 10em;
    right: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* padding: 7px; */
    /* margin: 20px 0; */
    transition: all 0.3s ease-in;
}
.trainers_nav-button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: var(--fs--ttl-sub);
    line-height: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--b-c--dark);
    padding: 0;
}
.trainers_nav-button:hover {
    color: var(--b-c--orange);
    transition: all 0.3s ease-in;
}
.active_trainer-tab {
    color: var(--b-c--orange);
}
.active_trainer-tab:hover {
    background-color: var(--b-c--blue);
}
.trainers_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 100vw;
    transition: all 0.5s ease-in;
}
    .sbory_info {
        min-width: 46%;
        margin-right: 3rem;
    }
    .sbory_pic {
        width: 100%;
    }
    .news_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer_contacts {
        margin-top: 0%;
    }
}
@media (max-width:768px) {
    .trainer_section.container {
        padding: 0;
    }
    .trainer_section-info {
        padding-top: 3rem;
        padding-bottom: 3rem;
        order: 2;
    }
    .trainer_pic {
        order: 1;
    }
    .col-9 {
        width: 100%!important;
    }
    .logo {
        max-width: 45px;
        max-height: 45px;
        object-fit: fill;
    }
    .raspisanie_container {
        overflow-x: auto;
    }
    .hero>.container {
        height: 100vh;
        background-color: rgba(192, 192, 192, .7);
    }
}
@media (min-width: 768px) {
    .training:nth-last-of-type(even) .col:nth-child(2) {
        order: -1;
    } 
}