header .container {
    display: flex;
    justify-content: space-between;
}
.btn-nav {
    z-index: 999;
}
nav {
    z-index: 998;
    background-color: var(--b-c--grey);
    position: absolute;
    top: 0;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, .5); */
    transition: all 1s ease;
}
.nav_links {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
.nav_link {
    color: var(--b-c--orange);
    font-size: var(--fs--ttl-sub);
}
.nav_link-container {
    border-bottom: 1px solid var(--b-c--orange);
}
.nav_link-container:last-child {
    border-bottom: none;
}
.hide {
    transform: translateX(-100vh);
    opacity: 0;
    display: none;
    transition: all 1s ease;
}
@media (min-width: 1000px) {
    .btn-nav {
        display: none;
    }
    .hide {
        transform: none;
        opacity: 1;
        display: flex;
    }
    nav.container {
        left: 0;
        right: 0;
        justify-content: right;
        background-color: transparent;
    }
    .nav_links {
        text-align: right;
        padding-top: 12rem;
    }
    .nav_link-container {
        border-bottom: none;
    }
    .nav_link-container:not(:first-child) .nav_link {
        color: var(--b-c--dark);
    }
}